<script>
	import { enhance } from '$app/forms';
	import { form_show } from '$lib/store.js';
	import Modal from '$lib/Comps/modal.svelte';
	import { page } from '$app/stores';

	//let { countries } = data;
	$: ({ countries } = data);

	/**  @type {import('./$types').ActionData} */
	export let form;

	/**  @type {import('./$types').PageData} */
	export let data;

	const showModal = (obj) => {
		selected_country = { ...obj };
		$form_show = true;
	};

	/**{Object.<string, number>} */
	let selected_country = {};
</script>

<Modal currobj={selected_country} />

<div>
	<h1>ФАЙЛЫ</h1>
	<ul>
		{#each data.files as fitem}
			<li class="mb-2">
				<a target="_blank" href="/{fitem}">{fitem}</a>
			</li>
		{/each}
	</ul>
</div>

{#if countries}
	<div>
		{#if $page.form?.error}
			{$page.form.error}
		{/if}
	</div>
	<div class="overflow-x-auto mt-0 z-0">
		<table class="table table-zebra w-full">
			<thead>
				<tr>
					<th>ID</th>
					<th>Страна</th>
				</tr>
			</thead>
			<tbody>
				{#each countries as country}
					<tr>
						<th>{country.id}</th>
						<td class="cursor-pointer" on:keyup={null} on:click={() => showModal(country)}>
							{country.name}
						</td>
					</tr>
				{/each}
			</tbody>
		</table>
	</div>
{/if}

<!-- 
<div class="px-3 py-3 bg-slate-200">
	<p>Quiz - Начало</p>
	<div class="py-3">
		<span class="underline">Props data:</span>
		{JSON.stringify(data)}
	</div>
	<div class="py-2"><span class="underline">Props form:</span>{JSON.stringify(form)}</div>
	<h1 class="py-2">
		<p class="underline">$page</p>
		{JSON.stringify($page)} 
	</h1>
	<p>Quiz - Конец</p>


</div>
-->

<!--
<div style="height:100vh" class="frm-container">
	<div class="frm">
		<form
			on:keypress={onKeyPress}
			method="POST"
			action="?/check={summ}"
			class="p-2 rounded-sm border-2 shadow-lg"
			use:enhance={({ form, data, action, cancel, controller, submitter }) => {
				//cancel();
				console.log(form);
				form.classList.add('cls');

				return async ({ result, update, form }) => {
					console.log('result?.data?', result);

					// `update` is a function which triggers the logic that would be triggered if this callback wasn't set
					await update({ reset: true });
				};
			}}
		>
			<div>
				<input type="number" name="answer" class="form-input" />
			</div>
			<div>
				<button formaction="?/check={summ}&act=plus" type="submit" class="btn">Plus</button>
			</div>
		</form>
		<div />
		<div>
			<code style="white-space: pre-wrap;">{@html form?.text}</code>
		</div>
	</div>
</div>
 -->

<!-- <style>
	.frm {
		display: flex;
		padding: 0 50px;
	}
	:global(.cls) {
		background-color: yellowgreen;
	}
	:global(.none) {
		display: none;
	}
	label {
		display: block;
	}
</style> -->
