<script>
	import { onMount } from 'svelte';

	/**
	 * OK!??
	 * @typedef Country
	 * @property {number} id
	 * @property {string} name
	 */

	/**
	 * @type {Array.<Country>} Array of countries.
	 */
	let countries = [];
	let mx = 0; //макс ID
	let part = 1; //показываемая часть: 1 или 2
	let half = 0; //средний ID (1/2 от максимального)

	onMount(async () => {
		const res = await fetch('/api_countries?id=0');
		countries = await res.json();

		mx = Math.max(...countries.map((c) => c.id));
		half = Math.round(mx / 2);
	});

	//или так...
	//https://svelte.dev/tutorial/await-blocks
	//https://svelte.dev/repl/7e175db016b74c4ba4688c76114866c9?version=3.23.0
</script>

<div class="flex w-4/6 mx-auto">
	<div class="flex-auto w-32 ...">
		<ul>
			<li class="cursor-pointer" on:click={() => (part = 1)}>Показать 1-ю часть</li>
			<li class="cursor-pointer" on:click={() => (part = 2)}>Показать 2-ю часть</li>
		</ul>
	</div>

	<div class="flex-auto w-64 ...">
		<table class="min-w-full text-center text-lx font-bold">
			<tbody class="bg-slate-300">
				<tr>
					<th>Идентификатор</th><th>Страна</th>
				</tr>
				{#if countries.length}
					{#each countries.filter( (cntr) => (part == 1 ? cntr.id <= half : cntr.id > half) ) as country, i (country.id)}
						<tr class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700">
							<td class=" px-2 py-1">{country.id}</td>
							<td class=" px-2 py-1">{country.name}</td>
						</tr>
					{/each}
				{:else}
					<p>Загрузка...</p>
				{/if}
			</tbody>
		</table>
	</div>
</div>
